<div class="min-h-screen bg-[#0b0f13] text-white">
    <app-hero (ofrecer)="openOfrecer()" (solicitar)="openSolicitar()"></app-hero>

    <app-categories-section></app-categories-section>

    <section class="max-w-7xl mx-auto px-4 sm:px-6 py-6 grid md:grid-cols-5 gap-6">
        <div class="md:col-span-3">
            <app-feed-section></app-feed-section>
        </div>
        <div class="md:col-span-2">
            <app-map-card></app-map-card>
        </div>
    </section>
<app-top-users></app-top-users>

</div>